.aboutInfo {
  min-height: 400px;
}

.paddedHeader {
  padding: 50px;
}

.boogie {
  box-shadow: 0 0 8px rgba(0,0,0,.5);
  border-radius: 10px;
  display: block;
  max-width: 100%;
  height: auto;
  @media screen and (min-width: 1400px) {
    max-width: 1200px;
  }
}

.avatar {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
}
