.filterIssueTable {
  width: 100%;
}

.menuWrapper {
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  @media screen and (max-width: 900px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.button {
  z-index: 10;
}
